@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}

html {
    scroll-behavior: smooth;
}

.opacity-hovering {
    @apply opacity-100 hover:opacity-90;
}

.image-card-placeholder {
    @apply min-w-[324px] min-h-[405px] bg-gray-300;
}

.image-profile-user-placeholder {
    @apply w-full max-w-[35px] max-h-[35px] min-w-[35px] min-h-[35px] bg-gray-800;
}

.hero-banner {
    @apply bg-[#31304D] text-[#F0ECE5]
}