@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}

html {
    scroll-behavior: smooth;
}

.opacity-hovering {
    @apply opacity-80 hover:opacity-100;
}

.image-card-placeholder {
    @apply min-w-[324px] min-h-[405px] bg-gray-300
}

.hero-banner {
    background-color: #888888;
}

/* make footer sticky in botton */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}